/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* GENERAL STYLING */

h1 {
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    font-weight: bold;
	padding: 20px;
}

body {
	text-align: center;
}

p, a {
    font-family: 'Lato', sans-serif;
    font-size: medium;
	padding: 5px;
}

.container {
    padding: 20px;
}

button {
padding: 4px;
margin: 0 0 0 5px;
font-size: 16px;
font-weight: bold;
text-align: center;
text-decoration: none;
cursor: pointer;
border: 2px solid #ffcd03;
background-color: #e4bc17;
border-radius: 6px;
}


h2 {
    font-family: 'Lato', sans-serif;
	font-size: large;
	padding: 7px
}

label {
	font-family: 'Lato', sans-serif;
	font-size: medium;
	padding: 5px;
	font-weight: bold;
}

input[type="text"] {
	padding: 2px;
	border: 2px solid #ffcd03;
	border-radius: 7px;
	outline: none;
	font-size: medium;
}
  
input[type="text"]:focus {
	border-color: #ffcd03;
	box-shadow: 0 0 4px rgba(191,132,118, 0.3);
}


/* FAVORITES SECTION STYLING */


#favoritescontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.favorite-item {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	margin: 0;
}

.favorite-item button {
	display: flex;
	justify-content: center;
	padding: 2%;
	margin: 0 0 0 10px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 2px solid #ffcd03;
	background-color: #e4bc17;
	border-radius: 6px;
}

.favorite-item p {
	display: flex;
	font-family: 'Lato', sans-serif;
	font-size: medium;
	font-weight: bold;
	margin: 0;
	justify-content: center;
	text-align: center;
	padding: 5px;
}


/* APOD STYLING */

form {
	padding: 10px;
}

.apodcontainer {
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    font-weight: bold;
	padding: 20px;
}
